<!-- Config file for the game -->
<config>
  <app>
    <title>Zephyrus Platformer</title>
    <maxFrameDuration value="16"/>
  </app>

  <render>
    <vsync value="false"/>
  </render>

  <window>
    <resolution width="854" height="480" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="true"/>
    <fullscreen_window value="true"/>
  </window>

  <scene>
    <player x="100" y="100" texturePath="Assets/Textures/Character/chara-spritesheet.png"/>
	<layers>
		<one texturePath="Assets/Maps/background_parallax/normal_BG/layer1.png" />
		<two texturePath="Assets/Maps/background_parallax/normal_BG/layer2.png" />
		<three texturePath="Assets/Maps/background_parallax/normal_BG/layer3.png" />
		<four texturePath="Assets/Maps/background_parallax/normal_BG/layer4.png" />
		<five texturePath="Assets/Maps/background_parallax/normal_BG/layer5.png" />
	</layers>
    <map path="Assets/Maps/" name="Level1Map.tmx"/>
	<layers2>
		 <one texturePath="Assets/Maps/background_parallax/autumn_BG/layer1.png" />
		 <two texturePath="Assets/Maps/background_parallax/autumn_BG/layer2.png" />
		 <three texturePath="Assets/Maps/background_parallax/autumn_BG/layer3.png" />
		 <four texturePath="Assets/Maps/background_parallax/autumn_BG/layer4.png" />
		 <five texturePath="Assets/Maps/background_parallax/autumn_BG/layer5.png" />
	</layers2>
	<map2 path="Assets/Maps/" name="Level2Map.tmx"/>
	<layers3>
		<one texturePath="Assets/Maps/background_parallax/winter_BG/layer1.png" />
		<two texturePath="Assets/Maps/background_parallax/winter_BG/layer2.png" />
		<three texturePath="Assets/Maps/background_parallax/winter_BG/layer3.png" />
		<four texturePath="Assets/Maps/background_parallax/winter_BG/layer4.png" />
		<five texturePath="Assets/Maps/background_parallax/winter_BG/layer5.png" />
	</layers3>
	<map3 path="Assets/Maps/" name="Level3Map.tmx"/>
	<entities>
		<enemies>
			<enemy name="boar" x="640" y="280" w="48" h="32" texture="Assets/Textures/Enemies/Boar.png" gravity="true">
			</enemy>
		</enemies>
	</entities>
  </scene>
  
</config>